.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    width: 100vw;
    height: 100vh;
}

h1 {
    margin-bottom: 5rem;
}

.stats-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.form-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.form-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}